---
layout: default
---

<div class="catalogue">
{% for post in paginator.posts %}
  <a href="{{ post.url }}" class="catalogue-item">
    <div>
      <time datetime="{{ post.date }}" class="catalogue-time">{{ post.date | date: "%B %d, %Y" }}</time>
      <h1 class="catalogue-title">{{ post.title }}</h1>
      <div class="catalogue-line"></div>

      <p>{{ post.content | strip_html | truncatewords: 45 }}</p>

    </div>
  </a>
{% endfor %}
</div>

<div class="pagination">
{% if paginator.total_pages > 1 %}
  {% if paginator.first_page != paginator.page %}
  <a href="{{ paginator.first_page_path }}">#{{ paginator.first_page }}</a>
    {% if paginator.previous_page != paginator.first_page %}
    <a href="{{ paginator.previous_page_path }}">#{{ paginator.previous_page }}</a>
    {% endif %}
  {% endif %}
  <span>#{{ paginator.page }}</span>
  {% if paginator.last_page != paginator.page %}
    {% if paginator.next_page != paginator.last_page %}
    <a href="{{ paginator.next_page_path }}">#{{ paginator.next_page }}</a>
    {% endif %}
  <a href="{{ paginator.last_page_path }}">#{{ paginator.last_page }}</a>
  {% endif %}
{% endif %}
</div>